﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>
     <div id="Div1">

    </div>
    <div class="center">
        <br />
        <br />
        <br />
        <br />
        <img src="../Images/1996ethiopiaarms.gif" style="height: 45px;width: 170px" />
        <%--<img src="../Images/SaveTheChildren_logo.jpg" style="width: 100px" />--%>
    </div>
        <br />
        <br />
<%--    <div class="center">
        <img src="../Images/Coat_of_arms_of_Malawi.png" style="width: 100px" />
    </div>--%>

