﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<SCTMis.Models.Form7Header>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Modify Form 7
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<% using (Html.BeginForm("UpdateForm7", "ReTargeting", FormMethod.Post, new { id = "MyForm" }))
   { %>
        <%--The First Row--%>
            <div class="col-7">                
            <label>
                Region *
                <%: Html.TextBoxFor(model => model.RegionName)%>
            </label>
            </div>
            <div class="col-7">                
            <label>
                Woreda *
                <%: Html.TextBoxFor(model => model.WoredaName)%>
            </label>
            </div>
            <div class="col-4">                              
            <label>
                Kebele *  
                <%: Html.TextBoxFor(model => model.KebeleName)%>
            </label>
            </div>
            <div class="col-7">                  
            <label>
                Gote *
                <%: Html.TextBoxFor(model => model.Gote)%>
            </label>
            </div>
            <div class="col-7">                
            <label>
                Gare *
                <%: Html.TextBoxFor(model => model.Gare)%>
            </label>
            </div>
            <div class="col-7">                
            <label>
                Financial Year *
                <%: Html.TextBoxFor(model => model.FiscalYear)%>
            </label>
            </div>   
        <%--Second Row--%>
            <div class="col-4">                
            <label>
                Name of household head *
                <%: Html.TextBoxFor(model => model.NameOfHouseHoldHead, new { tabindex = "7", @class = "alphaonly", @maxlength="50" })%>
            </label>
            </div>
            <div class="col-7">                
            <label>
                Household ID *
                <%: Html.TextBoxFor(model => model.HouseHoldIDNumber, new { tabindex = "8", @maxlength="20" })%>
            </label>
            </div>
            <div class="col-7">                
            <label>
                Date Updated
                <%: Html.TextBoxFor(model => model.DateUpdated, new { tabindex = "8", @Style="width:95%;"})%>
            </label>
            </div>
            <div class="col-7">                              
            <label>
                Social Worker
                <%: Html.DropDownListFor(model => model.SocialWorker,
                    new SelectList(Model.worker, "ID", "Name"), new { tabindex = "9" })%>
            </label>
            </div>
            <div class="col-7">                  
            <label>
                CCC member
                <%: Html.TextBoxFor(model => model.CCCCBSPCMember, new { enabled = false })%>
            </label>
            </div>
    <hr />
        <%--Third Row--%>
            <div class="col-3">                
            <label>
                Names of HH member including grandfathers *
                <%: Html.TextBoxFor(model => model.HouseHoldMemberName, new { tabindex = "12", @class = "alphaonly", @maxlength="50" })%>
            </label>
            </div>
            <div class="col-4">                              
            <label>
                Individual ID in Family Folder
                <%: Html.TextBoxFor(model => model.IndividualID, new { tabindex = "12", @maxlength="15" })%>
            </label>
            </div>
            <div class="col-7">                  
            <label>
                Date Of Birth *
                <%: Html.TextBoxFor(model => model.DateOfBirth, new { tabindex = "13", @Style="width:95%;" })%>
            </label>
            </div>
        <%--Fourth Row--%>
            <div class="col-7">                
            <label>
                Age (Years.Months) *
                <%: Html.TextBoxFor(model => model.Age, new { tabindex = "14" , @class = "numbersOnly", @maxlength="3" })%>
            </label>
            </div>

            <br />

            <div class="col-7">                
            <label>
                Sex *
                <%: Html.TextBoxFor(model => model.Sex, new { tabindex = "14" , @class = "numbersOnly",@maxlength="3" })%>
            </label>
            </div>
            <div class="col-7">                
            <label>
                Client Category *
                <%: Html.TextBoxFor(model => model.ClientCategoryName, new { tabindex = "14" , @class = "numbersOnly",@maxlength="3" })%>
            </label>
            </div>
            <div class="col-7">                              
            <label>
                Status *
                <%: Html.DropDownListFor(model => model.Status,
                    new SelectList(Model.clientStatus, "ID", "Name"), new { tabindex = "16" })%>
            </label>
            </div>
            <div class="col-7">                              
            <label>
                Pregnant *
                <%: Html.DropDownListFor(model => model.Pregnant,
                    new SelectList(Model.yesnos, "ID", "Name"), new { tabindex = "16" })%>
            </label>
            </div>
            <div class="col-7">                              
            <label>
                Lactating *
                <%: Html.DropDownListFor(model => model.Lactating,
                    new SelectList(Model.yesnos, "ID", "Name"), new { tabindex = "17" })%>
            </label>
            </div>
            <div class="col-7">                  
            <label>
                Disabled *
                <%: Html.DropDownListFor(model => model.Handicapped,
                    new SelectList(Model.yesnos, "ID", "Name"), new { tabindex = "18" })%>
            </label>
            </div>
        <%--Fifth Row--%>
            <div class="col-7">                
            <label>
                Chronically ill *
                <%: Html.DropDownListFor(model => model.ChronicallyIll,
                    new SelectList(Model.yesnos, "ID", "Name"), new { tabindex = "19" })%>
            </label>
            </div>
            <div class="col-4">                
            <label>
                Nutritional status 0 – 5 and PLW *
                <%: Html.DropDownListFor(model => model.NutritionalStatus,
                    new SelectList(Model.nutrStatus, "ID", "Name"), new { tabindex = "20" })%>
            </label>
            </div>
            <div class="col-4">                              
            <label>
                Is child under TSF or CMAM  
                <%: Html.DropDownListFor(model => model.ChildUnderTSForCMAM,
                    new SelectList(Model.yesnos, "ID", "Name"), new { tabindex = "21" })%>
            </label>
            </div>
            <div class="col-4">                              
            <label>
                Enrolled in School? 
                <%: Html.DropDownListFor(model => model.EnrolledInSchool,
                    new SelectList(Model.yesnos, "ID", "Name"), new { tabindex = "22" })%>
            </label>
            </div>   
            <div class="col-4">                  
            <label>
                Grade
                <%: Html.DropDownListFor(model => model.Grade,
                    new SelectList(Model.grades, "ID", "Name"), new { tabindex = "24" })%>
            </label>
            </div>         
            <div class="col-4">                  
            <label>
                School Name
                <%: Html.TextBoxFor(model => model.SchoolName, new { tabindex = "24" , @maxlength="40" })%>
            </label>                
            </div>
        <%--Sixth Row--%>

            <br />
            <br />

            <button id="cmdProceed" type="button" class="btn btn-icon btn-primary glyphicons circle_plus" tabindex="26"><i></i>Modify Household Member</button>
            <%--<button id="cmdNewMember" type="button" class="btn btn-icon btn-primary glyphicons circle_plus" tabindex="27"><i></i>Add New HH Member</button>--%>
            <br />
            <div id="errors2" style="color: red;"></div>  
            <br />
            <div id="gridbox" style="position:relative; width: 820px; height: 140px"></div>
            <div><span id="pagingArea"></span>&nbsp;<span id="infoArea"></span></div><span id="recfound"></span>

            <br />
            <div class="form-actions">
	            <button id="cmdModify" type="submit" name="submitButton" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Save Modified Details</button>
                <button id="cmdBack" type="button" class="btn btn-icon btn-default glyphicons step_backward"><i></i>Back</button>
            </div>
                <%: Html.HiddenFor(model => model.ColumnID)%>
                <%: Html.HiddenFor(model => model.RetargetingDetailID)%>
                <%: Html.HiddenFor(model => model.RetargetingHeaderID)%>
                <%: Html.HiddenFor(model => model.KebeleID)%>
                <%: Html.HiddenFor(model => model.CreatedBy)%>
                <%: Html.HiddenFor(model => model.MemberXml)%>
                <%: Html.HiddenFor(model => model.AllowEdit, new { id = "AllowEdit" })%>
                <%: Html.HiddenFor(model => model.Approving, new { id = "Approving" })%>
            <br />
            <%: Html.ValidationSummary(true) %>          
    <% } %>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="ScriptsSection" runat="server">
    <script src="../Scripts/assets/js/moment.min.js"></script>
    <link href="../DHTMLX/Calendar/css/default.css" rel="stylesheet" />
    <script type="text/javascript" src="../DHTMLX/Calendar/javascript/zebra_datepicker.js"></script>
    <script type="text/javascript" src="../Scripts/assets/js/app/ModifyForm7.js"></script>
</asp:Content>
