﻿/*#menu #menuInner>ul{float:left;margin:0 0 25px;border-top:1px solid #dddddd;}
#menu #menuInner>ul>li:first-child{border-top:1px solid #fafafa;}*/

#menu-v li, #menu-v a {zoom:1;} /* Hacks for IE6, IE7 */
#menu-v, #menu-v ul
{
    width: 180px; /* Main Menu Item widths */
    border: 1px solid #ccc;
    border-top:none;
    position: relative; 
    font-size:0;
    list-style: none; 
    padding: 0; 
    display:block;
    z-index:9;
    float:left;
    margin:0 0 25px;
    border-top:1px solid #dddddd;
}

#menu-v>ul>li:first-child{border-top:1px solid #fafafa;}
     
#menu-v li a.glyphicons{padding:0 0 0 50px;}
#menu-v li a.glyphicons i:before{font-size:17px;color:#1CACE2;top:10px;left:20px;}
#menu-v li a:hover{background:#efefef;}
#menu-v li:after{overflow:hidden;display:inline-block;width:0;position:absolute;content:"";}
#menu-v li.active{position:relative;overflow:visible;}
#menu-v li.active>a{background:#fff;}
#menu-v li.active:after{display:inline-block;width:9px;position:absolute;top:0;bottom:0;right:-10px;content:"";}
#menu-v li.glyphicons a{padding:0 0 0 50px;}
#menu-v li.glyphicons a i:before{font-size:17px;color:#1CACE2;top:10px;left:20px;}
       
#menu-v li.heading span{
    display:block;
    text-transform:uppercase;
    background:#ECECEC;
    border-bottom:1px solid #dddddd;
    height:38px;
    color:#AFAFAF;
    font-weight:600;
    font-family:'Raleway',sans-serif;
    padding:0 0 0 20px;
    font-size:11pt;
}
#menu-v li ul{margin:0;padding:0;list-style:none;}
#menu-v li ul li{height:auto;}
#menu-v li ul li a{padding:0 0 0 20px;height:25px;line-height:25px;font-weight:500;background-color:#fff;border-top: 1px solid #1CACE2;}
#menu-v li ul li a.glyphicons i:before{font-size:12px;top:7px;left:22px;color:#222;}
#menu-v li ul li a:hover{background:#1CACE2;}
    
/* Top level menu links style
---------------------------------------*/

#menu-v li
{
    background: #FFF url(bg.gif) repeat-x 0 2px;
    list-style: none; margin: 0; padding: 0;
}
#menu-v li a
{
    font: normal 12px Arial;
    border-top: 1px solid #ccc;
    display: block;
    /*overflow: auto; force hasLayout in IE7 */
    color: black;
    text-decoration: none;
    line-height:36px;
    padding-left:36px;         
}
#menu-v ul li a
{
    line-height:30px;
}
                
#menu-v li a.arrow:hover
{
    background-image:url(arrowon.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
        
/*Sub level menu items
---------------------------------------*/
#menu-v li ul
{
    position: absolute;
    width: 200px; /*Sub Menu Items width */
    visibility:hidden;   
    z-index:-9;
}
        
#menu-v a.arrow
{
    background-image:url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
#menu-v li:hover, #menu-v li.onhover
{
    background-position:0 -62px;
}
#menu-v ul li
{
    background: rgba(255, 255, 255, 0.86);
    background-image:none;
}
#menu-v ul li:hover, #menu-v ul li.onhover
{
    background: #FFF;
    background-image:none;
}

#menu-imglogo{
    width: 180px; /* Main Menu Item widths */
    border-top:none;
    position: relative; 
    top:280px;
    list-style: none; 
    padding: 0; 
    margin-left:0;
    display:block;
    z-index:9;
    float:left;
    left:-160px;
}
        
/* Holly Hack for IE \
* html #menu-v  li
{
    float:left;
    height: 1%;
}
* html #menu-v  li a
{
    height: 1%;
}*/
/* End */