div.gridbox_dhx_skyblue .xhdr{
	/*background-image:url(../imgs/sky_blue_grid.gif);*/
    background-color:transparent;
}

div.gridbox_dhx_skyblue table.hdr tr{
	background-image:url(../imgs/sky_blue_grid.gif);    
	background-position:0px -1px\9;    
}
body:nth-of-type(1) div.gridbox_dhx_skyblue table.hdr tr{
	background-image:url(../imgs/sky_blue_grid.gif);
	background-position:0px -1px;
}

div.gridbox_dhx_skyblue table.obj tr td{
	font-family:Tahoma;
	font-size:11px;
	border-width:0px 0px 0px 0px;
	padding-right:4px;
	padding-left:4px;
}
div.gridbox_dhx_skyblue table.hdr td div.hdrcell{
	width:auto;
}

html > body /**/ div.gridbox_dhx_skyblue table.hdr td div.hdrcell{
	width:100%;
}
div.gridbox_dhx_skyblue table.hdr td {
	/*border-width: 0px 1px 0px 0px;*/
	border-color : #FDFDFD #A4BED4 #A4BED4 #FDFDFD;
	background-color:transparent;
	font-weight:bold;
	font-family:Tahoma;
	font-size:12px;

	/*color:red;*/
	vertical-align:middle;
	text-align:left;
    height:8px;
    /*padding:2px;*/
    padding-left:3px;
    max-width:0;
    border-color:#FFFFFF;
    background-color:#1CACE2;
    color:#fff;
    text-transform:uppercase;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow:inset 1px 1px 1px rgba(255, 255, 255, 0.2),inset -1px -1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:inset 1px 1px 1px rgba(255, 255, 255, 0.2),inset -1px -1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:inset 1px 1px 1px rgba(255, 255, 255, 0.2),inset -1px -1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    border-radius:8px 8px 0 0;
}

div.gridbox_dhx_skyblue {
  /*border:1px solid  #A4BED4;
    border:1px solid  #7F7F7F;*/
  border:0px solid  #7F7F7F;
  max-width: 0;
}
div.gridbox table.obj tr  td{
    padding-top:5px;
    padding-bottom:5px;
    font-size:12px;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    height:20px;
    border-width: 0px 1px 1px 0px;
    border-color : #7F7F7F;
}
* html .gridbox .obj td{
    height:auto;
    padding-top=3px;
    padding-bottom=3px;
}
div.gridbox table.obj.row20px tr  td{
    padding-top:0px;
    padding-bottom:0px;
}

div.gridbox table.obj tr  td.editable{
    padding:0px;
}
div.gridbox table.obj tr  td.editable div.treegrid_cell{
	padding-left:4px;
	padding-top:1px;
}
div.gridbox_dhx_skyblue table.obj tr.rowselected{
	background-color:#FFE09C;
}
div.gridbox_dhx_skyblue table.obj tr.rowselected td{
	background-color:#FFE09C;
	background-repeat:repeat-x;
	background-position:0px 0px;
	/*background-image:url(../imgs/sky_blue_sel2.png);*/
}
div.gridbox_dhx_skyblue table.obj.row20px tr.rowselected td{
	background-repeat:repeat-x;
	background-position:0px 0px;	
	/*background-image:url(../imgs/sky_blue_sel.png);*/	
}

div.gridbox_dhx_skyblue table.obj tr.rowselected td.cellselected {
	background-color:#FFE09C;
}
div.gridbox_dhx_skyblue .odd_dhx_skyblue{
	background-color:#F5F5F5;
    /*background-color:#E3EFFF;*/
}
.dhx_combo_select, .gridbox_dhx_skyblue .dhx_combo_edit, .gridbox_dhx_skyblue .dhx_textarea{
    font-family:Tahoma;
    font-size:11px;
}
.gridbox_dhx_skyblue .dhx_combo_edit{
	padding:1px 0px 1px 1px;
}
.gridbox_dhx_skyblue .dhx_sub_row {
	background-color:transparent;
}

.HeaderChange {
    /*<span style="color:#1CACE2">_</span>
    color: rgba(138, 23, 15,1);
    color:#1CACE2;*/    
    text-shadow:0 5px 0 rgba(0, 0, 0, 0.5);
    font-size:11px;
    color:#1CACE2;
}